body, html{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*margin: 1em;*/
    background: #333;
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: white;
}

header {
  font-size: 36pt;
  font-weight: lighter;
  color: white;
  width: 80%;
  margin: auto;
  text-align: left;
  margin-top: 3vh;
}

#game-hud{
  display: flex;
  width: 80%;
  margin: 5vh auto 5vh auto;
}

#game-hud > div {
  display: flex;
  flex: auto;
  justify-content: center;

}

canvas {
  background-color: rgb(200, 200, 200);
  border-radius: 15px;
}

.btn{
  width: 15vw;
  height: 15vw;
  background-color: aqua;
}

#btn-left{
  float:left;
}

#btn-right{
  float: right;
}
